/*common styles*/
body {
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans' , sans-serif;
}

/*nav related styles*/
nav{
    display: flex;
}
.nav-logo{
    margin-left: 40px;
    margin-right: 40px;
    min-height: 100px;
    display: flex;
    align-items: center;
    width: 50%;
}
.nav-title {
    color: rgb(73, 39, 152);
    font-family: Open Sans;
    font-size: 35px;
    margin-left: 10px;
    font-style: normal;
    font-weight: bolder;
}
.clipper{
    font-weight: normal;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    font-weight: bold;
}

.btn-primary {
    width: 174px;
    height: 52px;
    display: flex;
    margin-left: 60px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    background: rgb(73, 39, 152);

}

.btn-primary p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}